/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/digest/loader.rb
/lib/digest/sha2/loader.rb
lib/*.jar
*.bundle
*.so
*.o
.*.time
Makefile
lib/digest/loader.rb
lib/digest/sha2/loader.rb
