name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '15 9 * * *'

jobs:
  host:
    name: ${{ matrix.os }} ${{ matrix.ruby }}
    if: ${{ github.repository == 'ruby/digest' || github.event_name != 'schedule' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-12
        - macos-11
        - windows-latest
        ruby:
        - '3.1'
        - '3.0'
        - 2.7
        - debug
        include:
        - { os: ubuntu-20.04,   ruby: head, ignore-pkg-error: true }
        - { os: windows-latest, ruby: mingw, ignore-pkg-error: true }
        - { os: windows-latest, ruby: mswin, ignore-pkg-error: true }
        - { os: ubuntu-20.04,   ruby: jruby }
        - { os: ubuntu-20.04,   ruby: jruby-head, ignore-pkg-error: true }
        exclude:
        - { os: windows-latest, ruby: debug }

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # 'bundle install' and cache

      - run: ruby --version

      - run: bundle exec rake compile

      - run: bundle exec rake build

      - run: bundle exec rake test

      - name: Integration test
        run: bundle exec rake check
        # continue-on-error: ${{ matrix.ignore-pkg-error || (matrix.ruby == 'debug') }}
